body{
    background-color:red;
}

#subtitle{
    color: rosybrown;
    font-size: medium;
}
#div1{
    background-color: cyan;
}

#heading{

    text-align: center;
    color: red;
    font-size: 20vw;
    font-family: 'Times New Roman', Times, serif;
    background-color: royalblue;
}